/*Clases css3 para index.php*/

/*a{color:#fff; text-decoration:none}
a:hover{text-decoration:underline}
body{background:#45505c;font-family:Helvetica, Arial;font-size:16px}
header{background: white; color: #000080; display:inline-block; margin: 0 auto; width: 95%;}
#dato{max-height: 124px; max-width: 1000px;}
#logo{float:right; max-height: 124px; max-width:270px }
h1{font-size:52px; text-align: center;}
h2{font-size:34px;}
img {border:none}
#logo{float:right; height: 124px; width: 270px;}
#main{background:#fff;margin:0 auto;max-width:1000px;position:relative;}*/

body
{
    background:grey;
    color:white;
    font-family:"Courier New", Helvetica, Arial;
    font-size:16px;
    margin:0;
}

h1
{
    font-size:52px;
        
}

h2
{
    font-size:34px;
    position: relative;
    left:20px;     
}

header
{
    background:white;
    color:#000080;
    display:inline-block;
    margin: 0 auto;
    width:100%;
    max-height: 145px;
}

h1,h2{margin:0;}

img{border:none;}

nav ul
{
	font-size: 0;
	padding: 0;
}
nav ul li 
{
	background: rgba(0,0,0,0.5);
	height: 50px;
	line-height: 50px;
	padding: 10px 0;
	width: 25%;
}

nav ul li a 
{
	color:#ddd;
	display: block;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#dato
{
    top:30px;
    left: 20px;
}

#dato, #logo
{
    position:relative;    
}

#entorno
{

}

#logo
{
    float:right;
    bottom:85px;
}

#main
{
    background:lightgray;
    margin:0 auto;
    max-width:1000px;
}

#sitebar
{
	color:white;
}