/*Clases css3 para index.php*/
body{background:#45505c;color:#323e4a;font-family:'open sans',Arial,Sans-serif;font-size:16px}
#cabecera{background:#fff; margin:0 auto; max-width:1000px; position:relative; z-index:7;}
#main{background:#fff;margin:0 auto;max-width:1000px;position:relative;}